/* Colores a utilizar */


/* background: #fff3ec;
    Botón Info: #fc2088;
    Botón Submit: #423f5c;
    Opciones: #eae9ee;
    Hover Opciones: #ccc9d5; */


/* Estilo General */

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}


/* Cuerpo */

.body {
    background-color: #fff3ec;
    color: #423f5c;
}


/* Bienvenida */

#inicio {
    padding-top: 15%;
}

#inicio h1 {
    font-weight: 700;
}


/* Icono de información */

#informacion {
    position: absolute;
    top: 4%;
    left: 2%;
}

#informacion .fa-circle {
    color: #fc2088 !important;
}

#informacion .fa-info-circle {
    color: white !important;
}

#progreso .progress {
    height: 6px;
}


/* Botón */

.btn-default {
    color: white !important;
    background-color: #423f5c !important;
    font-weight: bold !important;
    text-align: center !important;
}

.btn-lg {
    width: 40%;
}

.btn-default:hover {
    background-color: white !important;
    color: #423f5c !important;
    border: 2px solid #423f5c !important;
}


/* Pantalla en General */

.quiz {
    height: 95vh;
    padding: 5vw 0;
}

#resumenCompleto {
    text-align: left !important;
}


/* Imagen */

.imagen {
    width: 230px;
}


/* Contenido */

.contenido {
    margin-top: 20px;
}


/* Estado de preguntas */

.estado {
    text-align: left;
}

.progress {
    margin-bottom: 0 !important;
    margin-top: 1% !important;
}

.progress-bar {
    background-color: #423f5c !important;
}


/* Pregunta */

.pregunta {
    background-color: #fff;
    padding: 5vw 5vw;
    box-shadow: 0px 0px 25px #CEC3BA;
}

.titulo {
    font-size: 1.8em;
    margin: 3vw 1vw;
    margin-bottom: 0;
}

.opciones {
    margin-top: 40px;
    margin-bottom: 10px;
}


/* Botones */

.btn {
    text-align: left;
}

.btn-abc {
    font-weight: 800;
    margin-bottom: 10px !important;
    transition: all .3s;
    border: 2px solid #423f5c !important;
}

.btn-abc:hover {
    background-color: #ccc9d5;
    ;
    transition: all .8s;
}

.abc {
    text-align: center;
    display: inline-block;
    margin-right: 10px !important;
    padding: 3px 8px 4px;
    width: 30px;
    height: 30px;
    background-color: #423f5c;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}


/* Seleccionado */

.seleccion {
    display: inline-block;
    position: relative;
    text-align: right;
    transition: 0.5s;
}

.seleccion:after {
    font-family: FontAwesome;
    position: absolute;
    opacity: 0;
    top: -10px;
    right: -115px;
    transition: 0.5s;
    content: "\f058";
}

.seleccionado button:after {
    font-family: FontAwesome;
    content: "\f08d";
    position: absolute;
    right: 30px;
    top: 7px;
}

.btn-abc:hover .seleccion {
    padding-right: -15px;
}

.btn-abc:active .seleccion:after {
    color: white;
}

.btn-abc:hover .seleccion:after {
    opacity: 1;
    right: -20px;
}

#respuestas,
#resumen {
    text-align: left !important;
    padding: 5vw;
}

.twitter {
    color: #65a2d9 !important;
}

.facebook {
    color: #3b5998 !important;
}

.google {
    color: #de5449 !important;
}

#redesSociales {
    margin-top: 30px;
    opacity: 0.5;
    color: white;
}

#redesSociales:hover {
    opacity: 1;
}

#anterior {
    background-color: transparent !important;
}

#siguiente {
    background-color: transparent !important;
}

@media screen and (max-width: 1200px) {
    .imagen {
        width: 100px;
    }
    .contenido {
        margin: 20px 30px;
    }
}

@media screen and (max-width: 770px) {
    .estado {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) and (min-width:1200px) {
    .contenido {
        margin: 20px 200px;
    }
}